#wrapper{position:relative;min-width:1920px;overflow:hidden;}
#wrapper.ver_cmp{min-width:initial;}
#dashboard{width:1920px;height:1080px;background:#000 url(../img/bg-pattern.svg) 0 0 repeat;padding:0 20px 20px;position: relative;}

#dashboard h1{text-align:center;font-size:24px;font-weight:600;color:#83dfe9;text-transform:uppercase;line-height:33px;padding:12.5px 0;}
#dashboard .graph{position: absolute;right:80px;top:50px;}
#dashboard .graph span{display:inline-block;padding:19px 51px;position: relative;font-size:50px;color:#67c7d2;border:3px solid #67c7d2;line-height:69px;background-color:#101a1c;}
#dashboard .graph:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;}
#dashboard .graph.on span{border:3px solid #0ff;background-color:#0d221a;color:#0ff;}
#dashboard .graph.on:before{-webkit-filter: blur(30px);filter: blur(30px);background-color:#0ff;}
.road-wrap{position:relative;}
.road-wrap .road-l{width:845px;height:998px;background:url(../img/bg-map-left.svg) 0 0 no-repeat;position:absolute;left:0;top:0;}
.road-wrap .road-r{width:963px;height:998px;background:url(../img/bg-map-right.svg) 0 0 no-repeat;position:absolute;right:0;top:0;}
.road-area{width:1880px;height:1000px;background:url(../img/road-tb.svg) 0 0 no-repeat;position:relative;border:1px solid #77d6e6;/*overflow:hidden;*/}
.road-area.new{background:url(../images/road.svg) 0 0 no-repeat;}
.edge{position:absolute;background-color:#6cd0db;}
.edge.lt{left:-2px;top:-2px;}
.edge.lt1{width:12px;height:2px;}
.edge.lt2{width:2px;height:12px;}
.edge.rt{right:-2px;top:-2px;}
.edge.rt1{width:12px;height:2px;}
.edge.rt2{width:2px;height:12px;}
.edge.lb{left:-2px;bottom:-2px;}
.edge.lb1{width:12px;height:2px;}
.edge.lb2{width:2px;height:12px;}
.edge.rb{right:-2px;bottom:-2px;}
.edge.rb1{width:12px;height:2px;}
.edge.rb2{width:2px;height:12px;}
.railroad{position:absolute;}
.railroad.rail1{left:675px;top:321px;}
.railroad.rail2{left:554px;top:651px;}
.ico{display:inline-block;position:absolute;transition:all 0.2s;z-index:41;}
.ico .stip{position: absolute;font-size:14px;color:#fff;font-weight:bold;white-space:nowrap;padding:6.5px 8px; border-radius: 8px;display:none;}
.ico .stip.fix{display:block;}
.ico.cctv2 .stip{background-color: rgba(154, 133, 0, 0.9);}
.ico.cctv1 .stip{background-color: rgba(9, 186, 86, 0.9);}
.ico.vds .stip{background-color: rgba(13, 129, 173, 0.9);}
.ico .stip.t, .ico .stip.b{left:50%;transform:translateX(-50%);}
.ico .stip.t{bottom:36px;}
.ico .stip.b{top:36px;}
.ico .stip.l, .ico .stip.r{top:50%;transform:translateY(-50%);}
.ico .stip.l{right:36px;}
.ico .stip.r{left:36px;}
.ico:hover{z-index:42;}
.ico:hover .stip{display:block;}
.ico img{width:100%;position: relative;}
.ico.cctv1,
.ico.cctv2,
.ico.rwis,
.ico.vds,
.ico.vms{width:32px;}
.ico.sm{width:32px;}
.ico.cctv2.northbound, .ico.cctv2.southbound{cursor:pointer;}
.ico.blur:before, .ico.fog:before{content:'';display:block;width:100%;height:100%;position:absolute;left:50%;top:50%;border-radius:50%;transform:translate(-50%, -50%);}
.ico.blur:before{animation:blurAnimation 1s infinite ease-in-out;}
.ico.rwis.fog:before{animation:blurAnimation 1s infinite ease-in-out;}
.ico.rwis.fog.red:before{background-color:#e60000;}
.ico.rwis.fog.orange:before{background-color:#e68200;}
.ico.rwis.fog.yellow:before{background-color:#ffe600;}
.ico.vms.blur:before{background-color:#ff2bea;}
.ico.cctv1.blur:before{background-color:#00ff6f;}
.ico.cctv2.blur:before{background-color:#fddb00;}
.ico.vds.blur:before{background-color:#6ad6ff;}
.ico.rwis.blur:before{background-color:#ffffff;}
.ico.emer{width:32px;z-index:101;}
.ico.emer.sm{width:24px;}
.ico.emer:before{content:'';display:block;width:100%;height:100%;position:absolute;left:50%;top:50%;border-radius:50%;transform:translate(-50%, -50%);background-color:#f00;animation:emerAnimation 1s infinite ease-in-out;}
@keyframes blurAnimation {
  0%, 100% { filter: blur(38px); width:0; height:0; }
  50% { filter: blur(38px); /*width:125%; height:125%;*/ width:100%; height:100%;}
}
@keyframes emerAnimation {
  0%, 100% { filter: blur(19px); width:0; height:0; }
  50% { filter: blur(19px); width:37px; height:37px; }
}
.ico.tollgate{z-index:101;}
.ico.tollgate.open{width:66px;}
.ico.tollgate.close{width:68px;}
.ico.tollgate .txt{white-space:nowrap;font-size:16px;font-family:'Nunito';color:#fff;display:inline-block;position:absolute;left:50%;transform:translateX(-50%);bottom:-22px;}
.ico.tollgate.open .txt{margin-left:-8px;}
.ico.tollgate.close .txt{margin-left:10px;}

.s-toll{border:2px solid #000;width:10px;display:inline-block;}
.s-toll i{display:block;width:6px;height:2px;margin-top:2px;}
.s-toll i:first-child{margin-top:0;}
.s-toll i.red{background-color: #f00;}
.s-toll i.green{background-color: #00ff04;}
.ico.tollgate .s-toll{position: absolute;}
.ico.tollgate.open .s-toll{left:-9.6px;top:2.6px;transform:rotate(41deg);}
.ico.tollgate.close .s-toll{right:-18px;top:22px;}
.ico.rwis i.num{display:inline-block;width:14px;height:14px;border-radius:7px;background-color:#fff;font-size:11px;font-weight:bold;color:#000;text-align:center;font-style:normal;position:absolute;left:-4px;top:-4px;line-height:1.4;}
.ico.rwis.sm i.num{width:14px;height:14px;border-radius:15px;font-size:11px;left:-4px;top:-4px;}
.ico.tip{/*cursor:pointer;width:42px;margin:-6px 0 0 -6px;z-index:101;*/}
.ico.tip:after{content:'';display:block;width:16px;height:16px;background:url(../img/i.svg) 0 0 no-repeat;position:absolute;left:-10px;top:-10px;}
.ico.tip.blur{z-index:101;}
.ico.cctv1, .ico.cctv2, .ico.vds{cursor:pointer;}
.ico.cctv1{background:url(../img/ico-cctva.svg) 50% 50% no-repeat;height:32px;}
.ico.cctv1.on{background:url(../img/ico-cctv-map-set.svg) 50% 50% no-repeat;}

.lcs{display:flex;align-items:center;justify-content:center;width:44px;height:44px;position:absolute;font-size:19px;font-weight:500;color:#fff;text-align:center;font-family:'Roboto';}
.lcs.red{background-image: linear-gradient(to bottom, rgba(226, 0, 0, 0.6), rgba(136, 0, 0, 0.6));}
.lcs.green{background-image: linear-gradient(to bottom, rgba(0, 238, 102, 0.6), rgba(0, 136, 82, 0.6));}
.lcs.yellow{background-image: linear-gradient(to bottom, rgba(183, 162, 25, 0.6), rgba(93, 82, 12, 0.6));}
.lcs.black{background-color:rgba(0, 0, 0, 0.77);border:1px solid #747474;}
.lcs .sqaure{display:inline-block;width:2px;height:2px;position: absolute;}
.lcs .sqaure.lt{left:0;top:0;}
.lcs .sqaure.rt{right:0;top:0;}
.lcs .sqaure.lb{left:0;bottom:0;}
.lcs .sqaure.rb{right:0;bottom:0;}
.lcs.red .sqaure{background-color:#e60000;}
.lcs.green .sqaure{background-color:#00e585;}
.lcs.yellow .sqaure{background-color:#dcbb00;}
.lcs.black .sqaure{background-color:#b1b1b1;}

.lcs-panel{display:inline-block;position: absolute;width:280px;background-color: #010809;border:1px solid #70798a;min-height:80px;display:flex;align-items:center;}
.lcs-panel:not(.ver_img){padding:13px 12px;}
.lcs-panel p{font-size:18px;color:#fff;line-height:1.4;font-weight:normal;}
.lcs-panel p:first-child{margin-top:0;}
.lcs-panel.no-data{justify-content:center;}
.lcs-panel.warning{border:2px solid #f00;/*background-image: linear-gradient(to bottom, rgba(226, 0, 0, 0.6), rgba(136, 0, 0, 0.6));*/}
.lcs-panel.warning span{color:#fddb00;}

.lcs-panel .point{position: absolute;width:7px;height:7px;background-color:#6cd0db;}
.lcs-panel .point.lt{left:0;top:0;}
.lcs-panel .point.rt{right:0;top:0;}
.lcs-panel .point.lb{left:0;bottom:0;}
.lcs-panel .point.rb{right:0;bottom:0;}
.items-area{position:absolute;left:155px;bottom:19px;}
.items-area > div{float:left;margin-left:16px;border:1px solid #1d5258;text-align:center;}
.items-area > div:first-child{margin-left:0;}
.items-area > div dl{transition:background-color 0.3s;}
.items-area > div dt, .items-area > div dd{display:flex;width:100%;align-items:center;justify-content:center;transition:background-color 0.3s, color 0.3s;}
.items-area > div dt{background-color:rgba(15, 27, 33, 0.77);border-bottom:1px solid #1d5258;height:52px;position:relative;}
.items-area > div dt .ico{left:8px;top:-19px;}
.items-area > div dd{color:#fff;/*font-size:56px;line-height:77px;padding:31px 0;*/ position:relative;background-color:rgba(1, 10, 13, 0.64);padding:11px 0;}
.items-area > div li dt:after{content:'';display:block;position:absolute;bottom:-1px;left:50%;transform:translateX(-50%);transition:width 0.3s, background-color 0.3s;width:0;height:1px;}
.items-area > div dd:before, .items-area > div dd:after{content:'';display:block;position: absolute;background-color:#6cd0db;}
.items-area > div dd:before{width:9px;height:1px;left:-5px;top:-1px;}
.items-area > div dd:after{width:1px;height:9px;left:-1px;top:-5px;}
.items-area > div li:first-child dd:before, .items-area > div li:first-child dd:after{display:none;}
.items-area > div:after{content:'';display:block;clear:both;}
.items-area > div ul > li{float:left;border-left:1px solid #1d5258;}
.items-area > div ul > li:first-child{border-left:0;}
.items-area > div.items1{width:440px;}
.items-area > div.items1 ul > li{width:20%;}
.items-area > div.items1 dt{font-size:18px;color:#03e1d9;}
.items-area > div.items1 dd{font-size:14px;color:#a1a1a1;}
.items-area > div.items1 dd em{font-size:18px;color:#fff;}
.items-area > div.items2{width:480px;}
.items-area > div.items2 ul > li{width:25%;}
.items-area > div.items2 li dt{background-position:50% 50%;background-repeat:no-repeat;}

.items-area > div.items2 li dt.temperature{background-image:url(../img/icon-temperature-def.svg);}
.items-area > div.items2 li dt.wind{background-image:url(../img/icon-wind-def.svg);}
.items-area > div.items2 li dt.snowrain{background-image:url(../img/icon-snowrain-def.svg);}
.items-area > div.items2 li dt.distance{background-image:url(../img/icon-distance-def.svg);}

.items-area > div.items2 li.red dt.temperature{background-image:url(../img/icon-temperature-ser.svg);}
.items-area > div.items2 li.red dt.wind{background-image:url(../img/icon-wind-ser.svg);}
.items-area > div.items2 li.red dt.snowrain{background-image:url(../img/icon-snowrain-ser.svg);}
.items-area > div.items2 li.red dt.distance{background-image:url(../img/icon-distance-ser.svg);}

.items-area > div.items2 li.orange dt.temperature{background-image:url(../img/icon-temperature-ale.svg);}
.items-area > div.items2 li.orange dt.wind{background-image:url(../img/icon-wind-ale.svg);}
.items-area > div.items2 li.orange dt.snowrain{background-image:url(../img/icon-snowrain-ale.svg);}
.items-area > div.items2 li.orange dt.distance{background-image:url(../img/icon-distance-ale.svg);}

.items-area > div.items2 li.yellow dt.temperature{background-image:url(../img/icon-temperature-pri.svg);}
.items-area > div.items2 li.yellow dt.wind{background-image:url(../img/icon-wind-pri.svg);}
.items-area > div.items2 li.yellow dt.snowrain{background-image:url(../img/icon-snowrain-pri.svg);}
.items-area > div.items2 li.yellow dt.distance{background-image:url(../img/icon-distance-pri.svg);}


.items-area > div li.red dt{color:#ffcccb;background-color:rgba(95, 18, 22, 0.83);}
.items-area > div li.red dd{background-color: rgba(52, 8, 10, 0.69);}

.items-area > div li.red dt:after{width:88px;background-color:#e60000;}
.items-area > div li.orange dt{background-color:rgba(230, 130, 0, 0.56);}
.items-area > div li.orange dd{background-color:  rgba(230, 130, 0, 0.28);}
.items-area > div li.yellow dt{background-color:rgba(255, 230, 0, 0.56);}
.items-area > div li.yellow dd{background-color: rgba(255, 230, 0, 0.28);}
.items-area > div.items2 li dt:after{display:none;}
.items-area > div li.fog dl{background-color:rgba(230, 0, 0, 0.28);}
.items-area > div li.fog dt{color:#ffcccb;background-color: rgba(230, 130, 0, 0.28);
}
.items-area > div.items2.col1{width:120px;}
.items-area > div.items2.col1 ul > li{width:100%;}

.chart-area{position:absolute;right:0;top:0;width:1902px;height:100%;padding: 44px 47px 40px 193px;opacity:0;transform:translateX(100%);transition:transform 0.2s, opacity 0.2s;z-index:2;}
.chart-area.on{transform:translateX(0);opacity:1;}
.chart-area:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-filter: blur(36px);filter: blur(36px);
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(9,9,9,0.89) 50%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(9,9,9,0.89) 50%,rgba(0,0,0,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(9,9,9,0.89) 50%,rgba(0,0,0,1) 100%);
}
.chart-area .chart-cont{position: relative;}
.chart-area .chart{border:2px solid #46a4ae;background-color:rgba(6, 23, 17, 0.8);padding:39px 30px;position: relative;}
.chart-area .chart .c-edge{display:inline-block;width:393px;height:4px;background-image: linear-gradient(to right, #387177 -2%, #0ff 52%, #387177 103%);position: absolute;left:50%;top:-3.5px;transform:translateX(-50%);}
.chart-area .chart1{height:534px;}
.chart-area .chart-wrap{width:100%;margin-top:36px;}
.chart-area .chart-wrap:after{content:'';display:block;clear:both;}
.chart-area .chart-wrap .chart2{float:left;}
.chart-area .chart-wrap .chart3{float:right;}
.chart-area .chart2{width:781px;height:507px;}
.chart-area .chart3{width:849px;height:507px;}
.chart-area .chart4{height:677px;margin-top:36px;}
.chart-area .c-tit{font-size:50px;line-height:69px;text-align:center;color:#77ffff;}

.btns-wrap a{font-size:60px;font-family:'Roboto';color:#fff;display:inline-block;min-width:328px;text-align:center;}
.btns-wrap .btn1{background-color:#1cb100;}
.btns-wrap .btn2{background-color: #b10000;}

.chk-base input{position: absolute;opacity:0;}
.chk-base input + label{font-size:48px;color:#fff;line-height:66px;padding-left:90px;display:inline-block;position:relative;}
.chk-base input + label:before{content:'';display:block;width:66px;height:66px;position:absolute;left:0;top:0;background:url(../images/checkbox_off.svg) 50% 50% no-repeat;}
.chk-base input:checked + label:before{background:#fff url(../images/checkbox_on.svg) 50% 50% no-repeat;width:44px;height:44px;left:11px;top:11px;}

.popup-dimm{position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.7);z-index:99;display:none;}
.modal-wrap{position:absolute;left:50%;top:150px;transform:translateX(-50%);z-index:102;display:none;}
.modal-wrap:before{content:'';display:block;width:100%;height:100%;-webkit-filter: blur(50px);filter: blur(50px);position:absolute;left:0;top:0;background-color: #af3030;}
.modal-wrap .modal-inner{position:relative;border:solid 10px #000;background-image: linear-gradient(96deg, #b10000 -1%, #0d4639 66%);padding:32px 54px;z-index:1;}
.modal-inner > *{display:inline-block;vertical-align:middle;}
.modal-wrap .time{font-size:60px;font-family:'Roboto';color:#fff;padding-left:124px;line-height:120px;position:relative;}
.modal-wrap .time:before{content:'';display:block;width:120px;height:120px;background:url(../images/icon_accident.png) 0 0 no-repeat;background-size:auto 120px;position: absolute;left:0;top:0;}
.modal-wrap .accident{font-size:60px;color:#fff;margin-left:70px;}
.modal-wrap .accident strong{font-weight:bold;}
.modal-wrap .btns-wrap{margin-left:82px;}
.modal-wrap .btns-wrap a{padding:26px 33px;margin-left:34px;}
.modal-wrap .btns-wrap a:first-child{margin-left:0;}

.popup-wrap{position: absolute;width:1000px;left:50%;top:50%;transform:translate(-50%, -50%);padding:0 4px 3px;display:none;z-index:102;-webkit-backdrop-filter: blur(12px);backdrop-filter: blur(12px);box-shadow: 0 8px 24px 0 rgba(3, 225, 217, 0.25);border: solid 1px #03e1d9;background-color: rgba(15, 27, 33, 0.9);}
.popup-wrap .tit-area{padding:17px 12px;display:flex;gap:0 16px;align-items: center;position: relative;}
.popup-wrap .tit-area .emer{width:52px;height:52px;display:block;border-radius: 30px;background:rgba(255, 0, 0, 0.28) url(../img/icon-emer.png) 50% 50% no-repeat;}
.popup-wrap .tit-area .tx-wrap{font-size:18px;font-weight:600;line-height:1.4;}
.popup-wrap .tit-area .tx-wrap .tx1{color:#fddb00;font-family:'Nunito';}
.popup-wrap .tit-area .tx-wrap .tx2{margin-top:4px;color:#fff;}
.popup-wrap .tit-area .btn-close{position: absolute;right:16px;top:28px;display:block;width:32px;height:32px;background:url(../img/ico-close-w.svg) 50% 50% no-repeat;}
.popup-wrap .con-area .pic-list{display:flex;gap:0 4px;}
.popup-wrap .con-area .pic-list li{width:50%;border:1px solid #03e1d9;}
.popup-wrap .con-area .pic-list li img{width:100%;}


.info-area{position:absolute;border:1px solid #069b9d;padding:8px;display:none;z-index:100;}
.info-area .edge, .info-box .edge{display:inline-block;position:absolute;}
.info-area .edge:before, .info-area .edge:after,
.info-box .edge:before, .info-box .edge:after{content:'';display:block;background-color:#83dfe9;position:absolute;}
.info-area .edge:before, .info-box .edge:before{width:2px;height:12px;}
.info-area .edge:after, .info-box .edge:after{width:12px;height:2px;}
.info-area .edge.lt, .info-box .edge.lt{left:0;top:0;}
.info-area .edge.rt, .info-box .edge.rt{right:0;top:0;}
.info-area .edge.lb, .info-box .edge.lb{left:0;bottom:0;}
.info-area .edge.rb, .info-box .edge.rb{right:0;bottom:0;}
.info-area .edge.lt:before, .info-box .edge.lt:before{left:-2px;top:-2px}
.info-area .edge.lt:after, .info-box .edge.lt:after{top:-2px;left:-2px;}
.info-area .edge.rt:before, .info-box .edge.rt:before{right:-2px;top:-2px}
.info-area .edge.rt:after, .info-box .edge.rt:after{top:-2px;right:-2px;}
.info-area .edge.lb:before, .info-box .edge.lb:before{left:-2px;bottom:-2px}
.info-area .edge.lb:after, .info-box .edge.lb:after{bottom:-2px;left:-2px;}
.info-area .edge.rb:before, .info-box .edge.rb:before{right:-2px;bottom:-2px}
.info-area .edge.rb:after, .info-box .edge.rb:after{bottom:-2px;right:-2px;}
.info-inner{ }

.bottom-wrap{background-color:rgba(13, 79, 81, 0.95);font-size:0;padding:16px 14px 14px;z-index:100;position:absolute;left:21px;bottom:23px;right:21px;display:none;}
.bottom-inner{display:flex;gap:0 18px;width:100%;}
.info-box{position:relative;display:flex;align-items:center;justify-content:center;width:25%;background-color:#0f1b21;border:1px solid #83dfe9;/*padding:8px;*/z-index:100;}
/* .bottom-wrap .info-box{width:448px;} */
/* .info-box:last-child{margin-right:0;} */
.info-box img{width:100%;}
.info-box .info-inner{padding:0;}
/* .info-box.chat .info-inner{padding:51px 41px;} */
.info-box.chat .info-scroll{height:206px;padding:0 15px;}
.info-scroll .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail{background-color:transparent;width:100%;border-radius:0;}
.info-scroll .mCSB_scrollTools{opacity:1 !important;width:6px;}
.info-scroll .mCSB_container{width:100%;}
.info-scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:6px;}
.info-scroll .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{margin:0 0;right:-8px;}
.info-scroll .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#2aaec2;border-radius:0;/*border:1px solid #83dfe9;*/}
.info-scroll .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.info-scroll .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color:#087c7f;}
.info-box .info-warning{font-size:14px;font-weight:500;color:#bdc2c5;}
.info-box .info-warning::before{content:'';display:block;width:80px;height:80px;background:url(../img/img-warning.png) 50% 50% no-repeat;margin:0 auto;}
.bottom-wrap .bottom-item{padding:40px 50px 0;background-color:rgba(13, 79, 81, 0.95);position:absolute;right:0;top:0;transform:translateY(-100%);}
.bottom-wrap .bottom-item .slide-item, .bottom-wrap .bottom-item .btn-close{display:inline-block;vertical-align:middle;}
.bottom-wrap .bottom-item .slide-item{background-color: #000;border:4px solid #00ffff;padding:13.5px 0;position: relative;}
.bottom-wrap .bottom-item .slide-item:before{content:'';display:block;width:4px;height:75px;background-color:#00ffff;position: absolute;left:50%;margin-left:-2px;top:17px;}
.bottom-wrap .bottom-item .slide-item .btn-prev, .bottom-wrap .bottom-item .slide-item .btn-next{display:inline-block;width:120px;height:75px;vertical-align:middle;}
.bottom-wrap .bottom-item .slide-item .btn-prev{background:url(../images/icon_popup_prev.svg) 50% 50% no-repeat;}
.bottom-wrap .bottom-item .slide-item .btn-next{background:url(../images/icon_popup_next.svg) 50% 50% no-repeat;}
.bottom-wrap .bottom-item .slide-item .btn-prev.disabled, .bottom-wrap .bottom-item .slide-item .btn-next.disabled{opacity:0.35;cursor:default;}
.bottom-wrap .bottom-item .btn-close{width:122px;height:110px;border:1px solid #00ffff;background:#000 url(../images/icon_close.svg) 50% 50% no-repeat;margin-left:30px;}
.info-box .chat-list > li{margin-top:16px;}
.info-box .chat-list > li:first-child{margin-top:0;}
.info-box .chat-list .chat-box{display:flex;justify-content:space-between;width:100%;}
.info-box .chat-list .chat-box span{display:block;font-size:12px;color:rgba(255, 255, 255, 0.7);}
.info-box .chat-list .con{font-size:14px;color:#83dfe9;line-height:1.4;margin-top:8px;display:block;}
.info-box.status{text-align:center;}
.info-box.status .info-inner{padding:15px 0 23px;}
.info-box .r-tit{font-size:18px;line-height:1.4;font-weight:normal;color:#fff;}
.info-box .r-step{margin:18px 0 12px;}
.info-box .r-step li{display:inline-block;width:86px;height:86px;line-height:86px;font-size:14px;font-weight:700;color:#00a5a5;background-color:#fff;border-radius:50%;margin-left:48px;position:relative;}
.info-box .r-step li:before{content:'';display:block;width:34px;height:22px;background:url(../images/img_status_next.svg) 0 0 no-repeat;background-size:100% auto;position:absolute;left:-40px;top:50%;margin-top:-11px;}
.info-box .r-step li:first-child{margin-left:0;}
.info-box .r-step li:first-child:before{display:none;}
.info-box .r-step li.current{background-color: #00a5a5;color:#fff;border:2px solid rgba(3, 225, 217, 0.5);}
/* .info-box .r-list{margin-top:48px;} */
.info-box .r-list li{display:inline-block;margin-left:46px;width:86px;}
.info-box .r-list li:first-child{margin-left:0;}
.info-box .r-list li .num{font-size:28px;line-height:1.4;color:#fff;font-weight:500;display:block;}
.info-box .r-list li .txt{font-size:12px;line-height:1.4;color:#bdc2c5;font-weight:500;display:block;}

.fogwrapper {
  overflow: hidden;
  position: absolute;
  filter: blur(10px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
.fogwrapper_1 {
  width: 434px;
  height: 440px;
}
.fogwrapper_2 {
  width: 346px;
  height: 440px;
}
.fogwrapper_3 {
  width: 346px;
  height: 440px;
}
.foglayer_01, .foglayer_02, .foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}
.foglayer_01 .image01, .foglayer_01 .image02,
.foglayer_02 .image01, .foglayer_02 .image02,
.foglayer_03 .image01, .foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
.foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}
.foglayer_02, .foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
}

.fogwrapper .foglayer_01 .image01,
.fogwrapper .foglayer_01 .image02,
.fogwrapper .foglayer_02 .image01,
.fogwrapper .foglayer_02 .image02,
.fogwrapper .foglayer_03 .image01,
.fogwrapper .foglayer_03 .image02 {
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
  background-color:transparent;
}

.fogwrapper.red .foglayer_01 .image01,
.fogwrapper.red .foglayer_01 .image02 {
  background-image: url("../img/img-mist-r-01.png");
}
.fogwrapper.red .foglayer_02 .image01,
.fogwrapper.red .foglayer_02 .image02,
.fogwrapper.red .foglayer_03 .image01,
.fogwrapper.red .foglayer_03 .image02{
  background-image: url("../img/img-mist-r-02.png");
}

.fogwrapper.orange .foglayer_01 .image01,
.fogwrapper.orange .foglayer_01 .image02 {
  background-image: url("../img/img-mist-o-01.png");
}
.fogwrapper.orange .foglayer_02 .image01,
.fogwrapper.orange .foglayer_02 .image02,
.fogwrapper.orange .foglayer_03 .image01,
.fogwrapper.orange .foglayer_03 .image02{
  background-image: url("../img/img-mist-o-02.png");
}

.fogwrapper.yellow .foglayer_01 .image01,
.fogwrapper.yellow .foglayer_01 .image02 {
  background-image: url("../img/img-mist-y-01.png");
}
.fogwrapper.yellow .foglayer_02 .image01,
.fogwrapper.yellow .foglayer_02 .image02,
.fogwrapper.yellow .foglayer_03 .image01,
.fogwrapper.yellow .foglayer_03 .image02{
  background-image: url("../img/img-mist-y-02.png");
}

/* ---------- Keyframe Layer 1 ---------- */
/* @keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
} */
/* ---------- Keyframe Layer 2 ---------- */
/* @keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
} */

/* ---------- Keyframe Layer 1 ---------- */
@keyframes foglayer_01_opacity {
  0% { opacity: .3; }
  22% { opacity: .7; }
  40% { opacity: .5; }
  58% { opacity: .6; }
  80% { opacity: .3; }
  100% { opacity: .2; }
}

/* ---------- Keyframe Layer 2 ---------- */
@keyframes foglayer_02_opacity {
  0% { opacity: .7; }
  25% { opacity: .5; }
  50% { opacity: .4; }
  80% { opacity: .6; }
  100% { opacity: .7; }
}

/* ---------- Keyframe Layer 3 ---------- */
@keyframes foglayer_03_opacity {
  0% { opacity: .8; }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
/* ---------- Keyframe moveMe ---------- */
@keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}

.s-popup{position:absolute;width:440px;border:1px solid #83dfe9;background-color:rgba(6, 23, 17, 0.8);box-shadow: 0 0 8px 0 rgba(3, 225, 217, 0.5);display:none;}
.s-popup img{width:100%;}
.s-popup .btn-close{display:inline-block;width:50px;position:absolute;right:0;top:0;width:32px;height:32px;background:url(../img/ico-close.svg) 50% 50% no-repeat;font-size:0;}
.s-popup .btn{position:absolute;top:50%;transform:translateY(-50%);width:32px;height:32px;font-size:0;}
.s-popup .popup-slick-wrap .btn-prev{left:0;background:url(../img/ico-left.svg) 50% 50% no-repeat;}
.s-popup .popup-slick-wrap .btn-next{right:0;background:url(../img/ico-right.svg) 50% 50% no-repeat;}

.lcs-box{width:660px;height:166px;border:2px solid #70798a;background-color: #101010;position: absolute;}

#dashboard-n8{width:1920px;height:1080px;background:#151c2b;position: relative;}
#dashboard-n8 .n8-road-tit{position: absolute;left:0;top:0;width:100%;height:68px;z-index:1;}
#dashboard-n8 h1{position:absolute;left:50%;top:22px;transform:translateX(-50%);text-shadow: 0 0 8px #2449aa;background-image: linear-gradient(to bottom, #f1f1f1, #959fa6);font-family: "Roboto";font-size: 29px;font-weight: bold;-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;line-height:34px;
  text-shadow: 0 0 8px rgba(36, 73, 170, 0.5);
}
.n8-map-wrap{position: absolute;left:0;top:0;width:100%;height:100%;}
.n8-road-wrap{position: relative;width:100%;height:100%;padding:38px 16px 0;}
.n8-road-wrap .n8-road-bg{position:absolute;z-index:1;display:block;}
.n8-road-wrap .n8-road-bg.t{width:100%;height:30px;background:url(../img/n8/img-frame-top.png) 0 0 no-repeat;position: relative;}
.n8-road-wrap .n8-road-bg.l, .n8-road-wrap .n8-road-bg.r{width:1px;height:735px;background-color:#00b1ff;top:68px;}
.n8-road-wrap .n8-road-bg.l{left:16px;}
.n8-road-wrap .n8-road-bg.r{right:16px;}
.n8-road-wrap .n8-road-bg.b{width:1860px;height:1px;background-color:#00b1ff;top:816px;left:30px;}
.n8-road-wrap .n8-road-bg.edge{width:14px;height:14px;top:803px;}
.n8-road-wrap .n8-road-bg.edge.e1{background:url(../img/n8/img-frame-bottom-left.png) 0 0 no-repeat;left:16px;}
.n8-road-wrap .n8-road-bg.edge.e2{background:url(../img/n8/img-frame-bottom-right.png) 0 0 no-repeat;right:16px;}
.n8-flo-wrp{position:absolute;z-index:1;}
.n8-flo-wrp.lt{left:89px;top:58px;}
.n8-flo-wrp.rt{left:1545px;top:58px;}
.n8-flo-cont{margin-top:20px;position: relative;}
.n8-flo-cont:first-child{margin-top:0;}
.n8-flo-text{position: relative;z-index:1;cursor:pointer;}
.n8-flo-text span{font-size:18px;color:#d0dae8;width:286px;height:30px;text-align:center;display:flex;align-items:center;justify-content:center;background:url(../img/n8/img-titlebar-close.png) 50% 0 no-repeat;position: relative;}
.n8-flo-text::before{content:'';display:block;width:392px;height:2px;background:url(../img/n8/box.png) 50% 50% no-repeat;position: absolute;top:15px;left:-53px;}
.n8-flo-detail{position:relative;display:none;overflow:hidden;object-fit: contain;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);box-shadow: inset 0 0 10px 0 rgba(3, 139, 203, 0.65);border-style: solid;border-width: 1px;border-image-source: linear-gradient(128deg, #fcfffe 0%, #8ef9da 1%, #00b1ff 5%, rgba(0, 106, 153, 0.8) 10%, rgba(0, 129, 186, 0.8) 90%, #00b1ff 95%, #8ef9da 99%, #fcfffe 100%);border-image-slice: 1;background-color: rgba(4, 19, 40, 0.8);
}
.n8-flo-wrp.lt .n8-flo-detail{width:392px;left:-53px;}
.n8-flo-wrp.rt .n8-flo-detail{width:392px;left:-53px;}
/* .n8-flo-detail:before, .n8-flo-detail:after{content:'';display:block;width:270px;height:270px;position:absolute;}
.n8-flo-detail:before{background:url(../images/n8/img_frame_stroke_m_left.png) 0 0 no-repeat;top:-2px;left:-2px;}
.n8-flo-detail:after{background:url(../images/n8/img_frame_stroke_m_right.png) 0 0 no-repeat;right:-1px;bottom:-1px;} */
.n8-flo-inner{position: relative;z-index:1;}
.n8-flo-wrp.lt .n8-flo-inner{padding:27px 15px 12px;}
.n8-flo-wrp.rt .n8-flo-inner{padding:27px 4px 12px 15px;}
.n8-flo-inner .btn-close{position:absolute;right:8px;top:1px;width:24px;height:24px;background:url(../img/n8/ico-fold.png) 0 0 no-repeat;display:inline-block;}
.n8-flo-cont.on{padding-top:15px;}
.n8-flo-cont.on .n8-flo-text{width:286px;background:url(../img/n8/img-titlebar-open.png) 50% 0 no-repeat;position: absolute;top:0;}
.n8-flo-cont.on .n8-flo-detail{display:block;}
.traffic-volume{font-size:0;text-align:center;width:100%;}
.traffic-volume:after{content:'';display:block;clear:both;}
.traffic-volume > li{float:left;width:78px;font-family:'Roboto';margin:0 8px 16px;}
.traffic-volume > li:nth-child(4n+1){margin-left:0;}
.traffic-volume > li:nth-child(4n+4){margin-right:0;}
.traffic-volume > li:nth-child(9), .traffic-volume > li:nth-child(10), .traffic-volume > li:nth-child(11){margin-bottom:0;}
.traffic-volume > li dt{padding-top:6px;box-shadow: inset 0 0 20px 0 rgba(60, 122, 184, 0.65);border: solid 1px rgba(0, 177, 255, 0.74);background-color: #001026;height:56px;}
.traffic-volume > li dt .num{font-size:13px;font-weight:900;color:#fff;display:block;text-align:center;}
.traffic-volume > li dt:before{content:'';display:block;background-position:50% 50%;background-repeat:no-repeat;width:24px;height:24px;margin:0 auto 5px;}

.traffic-volume > li dt.trailer:before{background-image:url(../img/n8/ico-car-trailer.png);}
.traffic-volume > li dt.heavytruck:before{background-image:url(../img/n8/ico-car-truck.png);}
.traffic-volume > li dt.medtruck:before{background-image:url(../img/n8/ico-car-medtruck.png);}
.traffic-volume > li dt.bigbus:before{background-image:url(../img/n8/ico-car-bigbus.png);}

.traffic-volume > li dt.minitruck:before{background-image:url(../img/n8/ico-car-minitruck.png);}
.traffic-volume > li dt.minubus:before{background-image:url(../img/n8/ico-car-medbus.png);}

.traffic-volume > li dt.microbus:before{background-image:url(../img/n8/ico-car-micibus.png);}
.traffic-volume > li dt.wheeler:before{background-image:url(../img/n8/ico-car-pickup.png);}
.traffic-volume > li dt.privatecar:before{background-image:url(../img/n8/ico-car-car.png);}
.traffic-volume > li dt.motorbike:before{background-image:url(../img/n8/ico-car-motorcycle.png);}

.traffic-volume > li dd{font-size:12px;color:#bbc4d9;margin-top:8px;text-align:center;}
.traffic-volume > li dd .tiny{font-size:28px;color:#a1b1d6;display:block;line-height:1;}
.traffic-volume > li.total{width:172px;margin-right:0;}
.traffic-volume > li .total-wrp{font-family:'Roboto';padding-top:13.5px;}
.traffic-volume > li .total-wrp span{display:block;}
.traffic-volume > li .total-wrp .label{font-size:18px;font-weight:500;color:#d8e2f1;line-height:21px;}
.traffic-volume > li .total-wrp .num{font-size:22px;font-weight:bold;margin-top:0;line-height:26px;color:#fff;}
.traffic-volume > li .total-wrp .unit-area{display:flex;align-items:center;gap:0 4px;width:100%;justify-content: center;}
.traffic-volume > li .total-wrp .unit{font-size:14px;color:#d8e2f1;line-height:16px;}

.equiment-list{width:100%;}
.equiment-list:after{content:'';display:block;clear:both;}
.equiment-list > li{float:left;width:78px;font-family:'Roboto';margin:0 8px;text-align:center;position: relative;}
.equiment-list > li:nth-child(4n+1){margin-left:0;}
.equiment-list > li:nth-child(4n+4){margin-right:0;}
.equiment-list > li dt{position: relative;}
.equiment-list > li dt:before{
  content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  /* background-color: rgba(0, 177, 255, 0.45); */
  background-color: rgba(0, 177, 255, 0.15); /* 재플린 코드랑 다르게 0.3 정도를 빼야 시안과 비슷하게 나옴 */
  transition:background-color 0.2s;
}
.equiment-list > li dt div{
  font-size:12px;color: #fff;padding:8px 0;position: relative;
  box-shadow: inset 0 0 99px 0 rgba(60, 122, 184, 0.31);
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  border: solid 1px rgba(0, 177, 255, 0.74);
  transition:border 0.2s;
}
.equiment-list > li dt em{color:#fff;font-size:16px;font-weight:bold;}
.equiment-list > li.warning dt div{
  border: solid 1px #cf1d1d;
}
.equiment-list > li.warning dt:before{
  /* background-color: rgba(255, 0, 0, 0.81); */
  background-color: rgba(255, 0, 0, 0.41); /* 재플린 코드랑 다르게 0.3 정도를 빼야 시안과 비슷하게 나옴 */
}
.equiment-list > li dd{font-size:12px;line-height:14px;color:#bbc4d9;margin-top:4px;}

.acc-slide-wrap{max-height:141px;overflow-y:auto;padding-right:8px;}
.acc-slide-wrap::-webkit-scrollbar {
  width: 4px;
}
.acc-slide-wrap::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0;
}
.acc-slide-wrap::-webkit-scrollbar-thumb {
  
  background-color: #2aaec2;
}
/* .acc-slide .slick-slide{margin-top:8px;height:39px;}
.acc-slide .slick-slide:first-child{margin-top:0;} */
.acc-slide .slick-slide{padding:4px 0;}
.acc-slide .acc-cont{box-shadow: inset 0 0 24px 0 rgba(3, 138, 202, 0.65);border: solid 1px #038aca;background-color: rgba(0, 0, 0, 0.72);padding:7px 8px;display:flex;align-items:center;justify-content:space-between;font-family:'Roboto';transition:all 0.2s;}
.acc-slide .acc-cont .tx-wrp{display:flex;align-items:center;}
.acc-slide .acc-cont .tx-wrp .label{display:inline-block;font-size:13px;font-family:'Roboto';font-weight:700;color:#021523;background-color: #fff;padding:4px 6px;background-color:#2aaec2;}
.acc-slide .acc-cont .tx-wrp .title{font-size:14px;color:#48ddf3;padding-left:16px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:153px;}
.acc-slide .acc-cont .date{font-size:12px;color:#d0dae8;}
.acc-slide .acc-cont.warning{box-shadow: inset 0 0 24px 0 rgba(207, 29, 29, 0.65);
  border: solid 1px #cf1d1d;
  background-color: #061225;}
.acc-slide .acc-cont.warning .tx-wrp .label{background-color: #ff7070;}
.acc-slide .acc-cont.warning .tx-wrp .title{color:#ff9292;}
.acc-slide .acc-cont.warning .date{color:#f9dcdc}

.zcode{display:inline-block;font-size:40px;font-weight:bold;color:#021523;padding:10px 12px;background-color: #fff;position: absolute;background-color: #2aaec2;font-family:'Roboto';}
.layer-wrp{position:absolute;right:36px;top:745px;font-size:0;}
.layer-wrp .btn-layer, .layer-wrp .ico-layer{display:inline-block;vertical-align:middle;}
.layer-wrp .btn-layer{width:52px;height:52px;padding: 10px;border: solid 1px #00b1ff;background-color: #151c2b;transition:box-shadow 0.2s;background-image: url(../img/ico-layers-def.svg);background-position:50% 50%;background-repeat:no-repeat;}
.layer-wrp .ico-layer{padding:10px;background-color: #000;border:1px solid #00b1ff;border-bottom:0;display:none;position: absolute;bottom:52px;right:0;width:52px;}
.layer-wrp .ico-layer li{margin-top:8px;cursor:pointer;}
.layer-wrp .ico-layer li:first-child{margin-top:0;}
.layer-wrp .ico-layer li span{font-family:'Roboto';font-size:11px;text-align:center;display:block;margin-top:4px;}
.layer-wrp .ico-layer li::before{content:'';display:block;width:32px;height:32px;}
.layer-wrp .ico-layer li.s-vms::before{background:url(../img/ico-vms-off.png) 50% 50% no-repeat;}
.layer-wrp .ico-layer li.s-cctv::before{background:url(../img/ico-cctv-off.png) 50% 50% no-repeat;}
.layer-wrp .ico-layer li.s-vds::before{background:url(../img/ico-vds-off.png) 50% 50% no-repeat;}
.layer-wrp .ico-layer li.s-lcs::before{background:url(../img/ico-sign-off.png) 50% 50% no-repeat;}
.layer-wrp .ico-layer li span{color:#d0dae8;}
.layer-wrp .ico-layer li.on.s-vms span{color:#00b1ff;}
.layer-wrp .ico-layer li.on.s-cctv span{color:#00ff6f;}
.layer-wrp .ico-layer li.on.s-vds span{color:#fa0;}
.layer-wrp .ico-layer li.on.s-lcs span{color:#ff2bea;}
.layer-wrp .ico-layer li.on.s-vms::before{background:url(../img/ico-vms-on.png) 50% 50% no-repeat;}
.layer-wrp .ico-layer li.on.s-cctv::before{background:url(../img/ico-cctv-on.png) 50% 50% no-repeat;}
.layer-wrp .ico-layer li.on.s-vds::before{background:url(../img/ico-vds-on.png) 50% 50% no-repeat;}
.layer-wrp .ico-layer li.on.s-lcs::before{background:url(../img/ico-sign-on.png) 50% 50% no-repeat;}
.layer-wrp.on .btn-layer{box-shadow: inset 0 0 20px 0 rgba(0, 177, 255, 0.65);}
.layer-wrp.on .ico-layer{display:inline-block;}

.cctv-wrap{height:40px;background-color: #333c4e;position: absolute;left:0;width:100%;}
.cctv-wrap.cc1{bottom:208px;}
.cctv-wrap.cc2{bottom:0;}
.i-cctv{display:inline-block;width:32px;height:32px;background:url(../img/n8/ico-cctv-line-off.png) 0 0 no-repeat;cursor:pointer;}
.i-cctv.on{background:url(../img/n8/ico-cctv-line-on.png) 0 0 no-repeat;}
.cctv-wrap .i-cctv{position:absolute;top:4px;}
.route-wrap{height:168px;width:100%;bottom:40px;position: absolute;left:0;font-size:0;background-color: #111726;}
.route-wrap:before{content:'';display:block;width:100%;height:1px;position: absolute;left:0;top:50%;background:url(../img/img-roadline.png) 0 50% repeat-x;}
.route-line{position: absolute;left:0;width:100%;}
.route-line.line1{top:67px;}
.route-line.line2{bottom:65px;}
.route-obj{height:8px;display:inline-block;vertical-align:middle;border-right:1px solid #111726;}
.route-obj:last-child{border-right:0;}
.route-obj.red{background-color:#f93030;}
.route-obj.green{background-color:#49b84d;}
.route-obj.yellow{background-color:#efce48;}
.i-vms, .i-vds{display:inline-block;position:absolute;font-size:12px;font-weight:500;font-family:'Roboto';padding:5px 4.5px;background-color:#000;min-width:36px;text-align:center;}
.i-vms{border:1px solid #00b1ff;color:#00b1ff;}
.i-vms.evt-vms{cursor:pointer;}
.i-vms.on{background-color:#00b1ff;color:#000;}
.i-vds{border:1px solid #ffaa00;color:#ffaa00;}

.iv-co,
.iv-num{display:inline-block;width:24px;height:24px;background-color: #000;position: absolute;}

.iv-co{content:'';background-repeat:no-repeat;background-position:50% 50%;background-size:auto 18px;}
.iv-num{right:-2px;font-size:32px;color:#fff;font-weight:500;line-height:50px;text-align:center;letter-spacing:-1.6px;}
.iv-num.three{letter-spacing:-4.8px;padding-right:6px;}
.iv-co.left{background-image:url(../images/n8/icon_lcs_left.svg);}
.iv-co.right{background-image:url(../images/n8/icon_lcs_right.svg);}
.iv-co.pass{background-image:url(../img/n8/ico-lcs-pass.png);}
.iv-co.noway{background-image:url(../img/n8/ico-lcs-noway.png);}

.iv-co.green, .iv-num.green{border: solid 1px #00e585;background-color:rgba(0, 229, 133, 0.4);}
.iv-co.yellow, .iv-num.yellow{border: solid 1px #dcce00;background-color: rgba(220, 206, 0, 0.4);}
.iv-co.red, .iv-num.red{border: solid 1px #f00;background-color: rgba(255, 0, 0, 0.4);}
.iv-co.gray, .iv-num.gray{border: solid 1px #b1b1b1;background-color: rgba(177, 177, 177, 0.4);}

.i-line{font-size:40px;font-weight:500;color:#60a4ae;font-family:'Roboto';position:absolute;}
.i-line.gubun:after{content:'';display:block;width:4px;height:141px;background-color:#60a4ae;position: absolute;left:50%;top:38px;margin-left:-2px;}

.route-panel{position: absolute;padding:8px 12px;border:1px solid #70798a;width:211px;background: #101010;z-index:1;}
.route-panel li{position: relative;font-size:12px;font-family:'Roboto';color:#fff;display:flex;justify-content:space-between;margin-top:10px;}
.route-panel li:first-child{margin-top:0;}
.route-panel li .min em{margin-right:3px;}
.route-panel li .min em.red{color:#ff0000;  text-shadow: 0 0 14px rgba(251, 58, 58, 0.6);}
.route-panel li .min em.green{color:#00e585;text-shadow: 0 0 12px rgba(107, 255, 71, 0.6);}

.popup-center{position: absolute;left:50%;top:369px;width:570px;transform:translateX(-50%);padding:9.5px 16px 16px;display:none;z-index:99;
  object-fit: contain;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: inset 0 0 10px 0 rgba(3, 139, 203, 0.65);
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(126deg, #fcfffe 0%, #8ef9da 1%, #00b1ff 5%, rgba(0, 106, 153, 0.8) 10%, rgba(0, 129, 186, 0.8) 90%, #00b1ff 95%, #8ef9da 99%, #fcfffe 100%);
  border-image-slice: 1;
  background-color: rgba(0, 8, 20, 0.8);}
.popup-center .btn-close{position: absolute;display:inline-block;width:24px;height:24px;background:url(../img/ico-close-b.svg) 50% 50% no-repeat;right:8px;top:8px;}
.popup-center .tit{font-size:18px;color:#fff;text-align:center;line-height:21px;margin-bottom:9.5px;}

.n8-bottom-wrap{position: absolute;left:0;bottom:0;width:100%;padding:16px;background-color: #020a1b;justify-content:space-between;align-items:center;z-index:102;display:none;gap:0 16px;border-top:1px solid #038bcb;}
.n8-bottom-wrap.on{display:flex;}
.n8-bottom-wrap .n8-info-box{width:25%;height:328px;padding: 10px;border: solid 1px #00b1ff;background-color: #161c28;}
.n8-bottom-wrap .n8-info-box.n8-chat{padding:16px;}
.n8-bottom-wrap .n8-info-box .pic-wrp{background-color: #000;text-align:center;height:308px;}
.n8-bottom-wrap .n8-info-box .info-scroll{height:296px;}
.n8-info-box .info-scroll .mCSB_scrollTools{width:4px;}
.n8-info-box .info-scroll .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail{background-color: #041328;}
.n8-info-box .info-scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:4px;}
.n8-info-box .info-scroll .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #2aaec2;}
.n8-info-box.no{display:flex;justify-content: center;align-items: center;}
.n8-info-box .no-cctv{font-size:14px;font-weight:500;color:#b9bbbf;display:flex;justify-content: center;align-items: center;flex-direction:column;}
.n8-info-box .no-cctv::before{content:'';display:block;width:64px;height:64px;margin-bottom:16px;background:url(../img/img-pat.png) 50% 50% no-repeat;}
/* .n8-bottom-wrap .chat-list{padding:31px 0 26px;} */
.n8-bottom-wrap .chat-list > li{font-family:'Roboto';margin-top:60px;}
.n8-bottom-wrap .chat-list > li:first-child{margin-top:0;}
.n8-bottom-wrap .chat-list li .author{font-size:14px;line-height:1.4;color:#fff;opacity:0.7;display:block;}
.n8-bottom-wrap .chat-list li .chat-box{font-size:16px;line-height:1.63;background-color:rgba(0, 177, 255, 0.14);padding:8px 12px;display:inline-block;color:#fff;margin-top:8px;max-width:calc(100% - 40px)}
.n8-bottom-wrap .chat-list li .date{font-size:12px;color:#fff;opacity:0.5;margin-left:8px;vertical-align:bottom;}
.n8-bottom-wrap .damage-info{text-align:center;padding-top:46.5px;}
.n8-bottom-wrap .damage-info .tit{font-size:22px;color:#fff;font-family:'Roboto';line-height:1.4;}
.n8-bottom-wrap .damage-info ul{font-size:0;margin-top:24px;display:flex;gap:0 16px; }
.n8-bottom-wrap .damage-info li{display:inline-block;text-align:center;width:33%;}
.n8-bottom-wrap .damage-info li:first-child{margin-left:0;}
.n8-bottom-wrap .damage-info li span{display:block;}
.n8-bottom-wrap .damage-info li .num{font-size:34px;font-weight:500;color:#fddb00;line-height:1.4;font-family:'Roboto';border:1px solid #333c4e;padding:43px 4px;background:url(../img/img-frame.png) 50% 50% repeat;}
.n8-bottom-wrap .damage-info li .label{margin-top:8px;font-size:16px;color:#bdd0ef;font-weight:bold;line-height:1.4;}
.n8-control{width:96px;display:flex;position: absolute;right:0;top:-32px;}
.n8-control-t, .n8-control-b{border:1px solid #00b1ff;background-color:#000;}
.n8-control-t{position: relative;width:64px;height:32px;display:flex;}
.n8-control-t:before{content:'';display:block;width:1px;height:14px;background-color: rgba(0, 177, 255, 0.5);position:absolute;left:50%;top:8px;}
.n8-control-b{width:32px;height:32px;}
.n8-control a{display:inline-block;background-repeat:no-repeat;background-position:50% 50%;width:100%;height:100%;}
.n8-control a.btn-prev{transform:rotate(180deg);}
.n8-control a.btn-next, .n8-control a.btn-prev{background-image:url(../img/ico-arrow-right.png);opacity:0.5;}
.n8-control a.btn-next.on, .n8-control a.btn-prev.on{opacity:1;}
.n8-control a.btn-close{background-image:url(../img/ico-close.png);}

#wrapper.half{min-width:3840px;}
#dashboard-data{width:3840px;height:2160px;padding:70px 40px 86px;position:relative;}
.data-row{display:flex;justify-content:space-between;}
.data-col{border:solid 1px #46a4ae;background-color: #061317;padding-top:22px;position: relative;text-align:center;}
.data-col:before{content:'';display:block;width:393px;height:4px;background-image: linear-gradient(to right, #387177 -2%, #0ff 52%, #387177 103%);position: absolute;left:50%;top:-1px;transform:translateX(-50%);}
.data-col .tit{font-size:42px;line-height:57px;color:#77ffff;}
.data-col .result{color:#e6ecf6;font-size:38px;line-height:51px;display:block;margin-top:41px;}
.data-s-state{width:910px;height:520px;padding:22px 40px 0;}
.data-today{width:910px;}
.data-today-volume{height:233px;}
.data-today-tolls{height:233px;margin-top:54px;}
.data-office{width:910px;padding:22px 30px 0;}
.data-process-row{margin-top:60px;}
.data-process{width:1860px;height:340px;padding:22px 49px 96px;}
.data-bar-row{margin-top:60px;}
.data-bar{width:1228px;height:481px;}
.data-grh-row{margin-top:60px;}
.data-grh{width:1228px;height:481px;}

.data-s-state .state-list{margin-top:35px;}
.data-s-state .state-list li{text-align:left;height:70px;margin-top:26px;display:flex;align-items:center;justify-content:space-between;box-shadow: inset 0 0 79px 0 #008dd5;border: solid 1px #038aca;padding:0 24px;}
.data-s-state .state-list li:first-child{margin-top:0;}
.data-s-state .state-list li.warning{box-shadow: inset 0 0 79px 0 #cf1d1d;border: solid 1px #cf1d1d;}
.data-s-state .state-list li .label{font-size:38px;color:#dce7f9;line-height:51px;}
.data-s-state .state-list li .num{width:auto;padding:0 13.9px;height:50px;line-height:50px;font-size:40px;font-weight:500;color:#021523;background-color: #2aaec2;text-align:center;font-family:'Roboto';width:73px;}
.data-s-state .state-list li.warning .num{background-color:#ff7070;}

.data-office .office-list{display:flex;justify-content:space-between;margin-top:81px;}
.data-office .office-list li{width:400px;}
.data-office .office-list li dt{background-color: #00a5a5;font-size:32px;color:#061317;font-weight:bold;line-height:43px;padding:9.5px 0;}
.data-office .office-list li dd{box-shadow: inset 0 0 99px 0 rgba(0, 109, 109, 0.23);border: solid 1px #00a5a5;background-color: #032121;font-size:37px;color:#e6ecf6;line-height:50px;padding:93.5px 0;}

#dashboard-data.type-2{padding-top:103px;}
#dashboard-data.type-2 .data-col{border: solid 1px rgba(0, 177, 255, 0.74);padding-top:81px;box-shadow: inset 0 0 99px 0 rgba(60, 122, 184, 0.31);-webkit-backdrop-filter: blur(13px);backdrop-filter: blur(13px);border: solid 1px rgba(0, 177, 255, 0.74);}
#dashboard-data.type-2 .data-col:before{display:none;}
#dashboard-data.type-2 .data-col .tit{font-family:'Roboto';font-size:48px;color:#d0dae8;position: absolute;width:637px;height:66px;background:url(../images/n8/img_title_open_data.svg) 0 0 no-repeat;left:50%;margin-left:-318.5px;top:-33px;padding:4px 0;}
#dashboard-data.type-2 .data-col.data-process .tit,
#dashboard-data.type-2 .data-col.data-bar .tit,
#dashboard-data.type-2 .data-col.data-grh .tit{width:826px;margin-left:-413px;background:url(../images/n8/img_title_db826.svg) 0 0 no-repeat;}
#dashboard-data.type-2 .data-s-state{height:487px;}
#dashboard-data.type-2 .data-s-state .state-list{margin-top:0;}
#dashboard-data.type-2 .data-col .result{margin-top:0;}
#dashboard-data.type-2 .data-today-volume,
#dashboard-data.type-2 .data-today-tolls{padding-top:93.4px;height:200px;}
#dashboard-data.type-2 .data-today-tolls{margin-top:87px;}
#dashboard-data.type-2 .data-bar-row,
#dashboard-data.type-2 .data-grh-row{margin-top:94px;}
#dashboard-data.type-2 .data-office{padding-bottom:48px;}
#dashboard-data.type-2 .data-office .office-list{flex-wrap:wrap;margin-top:0;}
#dashboard-data.type-2 .data-office .office-list li{width:254px;margin-top:42px;}
#dashboard-data.type-2 .data-office .office-list li:nth-child(1),
#dashboard-data.type-2 .data-office .office-list li:nth-child(2),
#dashboard-data.type-2 .data-office .office-list li:nth-child(3){margin-top:0;}
#dashboard-data.type-2 .data-office .office-list li dt{ border: solid 1px rgba(0, 177, 255, 0.74);background-color: #2aaec2;line-height:38px;}
#dashboard-data.type-2 .data-office .office-list li dd{background-color: #041328;box-shadow: inset 0 0 99px 0 rgba(60, 122, 184, 0.31);border: solid 1px rgba(0, 177, 255, 0.74);padding:24px 0;line-height:44px;}
#dashboard-data.type-2 .data-process{height:307px;padding-bottom:48px;}
#dashboard-data.type-2 .data-bar{height:448px;}
#dashboard-data.type-2 .data-bar:nth-child(1){width:2494px;}
#dashboard-data.type-2 .data-grh{height:448px;}
  
#n8-osm{width:3840px;height:2160px;padding:74px 42px 0;position:relative;}
#n8-osm h1{position:absolute;left:50%;top:-35px;transform:translateX(-50%);}
.osm-map-wrap{position: absolute;left:0;top:0;width:100%;height:100%;}
.osm-road-wrap{width:3756px;height:2036px;background:url(../images/n8/bg-osm.png) 0 0 no-repeat;position:relative;}
.osm-box{width:1020.9px;height:848px;-webkit-backdrop-filter: blur(13px);backdrop-filter: blur(13px);box-shadow: inset 0 0 99px 0 rgba(60, 122, 184, 0.31);border: solid 1px rgba(0, 177, 255, 0.74);background-color: #041328;position: absolute;}
.osm-box.osm-box1{left:34px;top:325px;}
.osm-box.osm-box2{right:34px;top:325px;width:908px;}
.osm-box:before, .osm-box:after{content:'';display:block;width:270px;height:270px;position: absolute;}
.osm-box:before{left:-1px;top:-1px;background:url(../images/n8/osm_box_lt.svg) 0 0 no-repeat;}
.osm-box:after{right:-1px;bottom:-1px;background:url(../images/n8/osm_box_rb.svg) 0 0 no-repeat;}
.osm-box .ob-con{position:relative;z-index:1;}
.osm-box.osm-box1 .ob-con{padding:75px 32px 40px;}
.osm-box.osm-box2 .ob-con{padding:73px 40px 40px;}
.osm-box .tit-wrp{position:absolute;left:50%;top:-31px;width:570px;height:66px;display:flex;justify-content:center;align-items:center;font-size:35px;color:#d0dae8;background:url(../images/n8/osm_tit_bg.png) 0 0 no-repeat;transform:translateX(-50%);font-family:'Roboto';}
.osm-date{font-size:29px;color:#fff;opacity:0.65;position: absolute;right:24px;top:29px;padding-left:42px;}
.osm-date:before{content:'';display:block;width:30px;height:27px;position: absolute;left:0;top:0px;background:url(../images/n8/icon-ionic-ios-calendar.svg);}
.osm-total{position: absolute;left:50%;top:133px;width:1392px;height:310px;background:url(../images/n8/bg_total.svg) 0 0 no-repeat;transform:translateX(-50%);text-align:center;padding-top:74.8px;}
.osm-total .label{font-size:37px;color:#fff;font-family:'Roboto';display:inline-block;padding:0 100px;position: relative;}
.osm-total .label:before, .osm-total .label:after{content:'';display:block;width:6px;height:6px;border-radius:50%;background-color: #98fed6;position: absolute;top:50%;margin-top:-3px;}
.osm-total .label:before{left:0;}
.osm-total .label:after{right:0;}
.osm-total .count{margin-top:22px;}
.osm-total .count .num{font-size:110px;font-weight:500;color:#fff;line-height:112px;display:inline-block;font-family: "september", sans-serif;}
.osm-total .count .unit{font-size:37px;font-family:'Roboto';color:#b1b9c5;margin-left:16px;}
.osm-box .score-list li{display:flex;height:105px;align-items:center;padding: 25px 22px 25px 30px;font-family:'Roboto';margin-top:20px;justify-content:space-between;}
.osm-box .score-list li > div{display:flex;align-items:center;}
.osm-box .score-list li:first-child{margin-top:0;}
.osm-box .score-list li.on{
  box-shadow: inset 0 0 79px 0 #00b1ff;
  border: solid 1px #536edb;
  background-color: rgba(0, 0, 0, 0.72);}
.osm-box .score-list li .num{font-size:46px;color:#e0e7f2;}
.osm-box .score-list li .name{font-size:36px;color:#dce7f9;margin-left:44px;}
.osm-box .score-list li .count{font-size:54px;color:#fff;font-weight:500;font-family: "september", sans-serif;}
.osm-box .score-list li .unit{font-size:27px;color:#8f98a7;margin-left:14px;}

.osm-box.osm-small{width:587px;height:auto;min-height:442px;left:2146px;top:617px;}
.osm-box.osm-small .ob-con{padding:35px;}
.osm-box.osm-small .sm-tit{font-family:'Roboto';font-size:30px;color:#ddd;text-align:center;}
.osm-box.osm-bottom{left:34px;bottom:33px;height:715px;width:3688px;}
.osm-box.osm-bottom .ob-con{padding:73px 28px 40px;}
.osm-box .plaza-list{margin-top:33px;}
.osm-box .plaza-list li{margin-top:16px;font-family:'Roboto';display:flex;justify-content:space-between;align-items:center;}
.osm-box .plaza-list li:first-child{margin-top:0;}
.osm-box .plaza-list li .label{display:inline-block;font-size:24px;color:#021523;background-color: #2aaec2;padding:6.5px 12px;}
.osm-box .plaza-list li .sec{font-size:24px;line-height:29px;color:#ddd;}

.osm-toll{position: absolute;}
.osm-toll .toll-obj{display:inline-block;width:126px;height:92px;background:url(../images/n8/icon_tollgate_close.svg) 0 0 no-repeat;}
.osm-toll .toll-obj.info{background:url(../images/n8/icon_tollgate_close_info.svg) 0 0 no-repeat;}
.osm-toll .toll-label{padding: 9px 18px;box-shadow: inset 0 0 46px 0 rgba(3, 139, 203, 0.56);background-color: #061225;font-family:'Roboto';font-size:28px;color:#d0dae8;position: absolute;left:-76px;top:92px;white-space:nowrap;}

.osm-box.osm2-left{width:908px;height:1843px;left:34px;top:159px;}
.osm-box.osm2-left .ob-con{padding:76px 47px 40px;}
.osm-box.osm2-box1{width:908px;height:737px;right:34px;top:436px;}
.osm-box.osm2-box1 .ob-con{padding:74px 32px 40px;}
.osm-box.osm2-box2{width:908px;height:715px;right:34px;bottom:35px;}
.osm-box.osm2-box2 .ob-con{padding:43px 40px 30px;}
.osm-box.osm2-box3{width:1752px;height:715px;left:1002px;bottom:35px;}
.osm-box.osm2-box3 .ob-con{padding:73px 32px 40px;}

.osm-cctv-popup{width:634px;height:346px;background:url(../images/n8/bg_popup_cctv.svg) 0 0 no-repeat;position:absolute;padding:24px 26px 26px 258px;}
.osm-cctv-popup:after{content:'';display:block;width:84px;height:84px;background:url(../images/n8/img_frame_stroke_s_right.png) 0 0 no-repeat;position:absolute;right:0;bottom:0;}
.osm-cctv-popup .cctv-info dt{font-size:30px;color:#ddd;text-align:center;line-height:40px;}
.osm-cctv-popup .cctv-info dd{border-top:1px solid rgba(16, 154, 188, 0.5);padding-top:17.5px;margin-top:17.5px;}
.osm-cctv-popup.left{background:url(../images/n8/bg_popup_cctv_l.svg) 0 0 no-repeat;padding:24px 258px 26px 26px;}
.osm-cctv-popup.left:after{background:url(../images/n8/img_frame_stroke_s_left.png) 0 0 no-repeat;left:0;right:initial;}

.osm-box .payment-list{display:flex;justify-content:space-between;}
.osm-box .payment-list > li{width:582px;}
.osm-box .payment-list > li .pay-tit{font-size:30px;color:#b7c5dc;text-align:center;font-family:'Roboto';position: relative;}
.osm-box .payment-list > li .pay-tit:before, .osm-box .payment-list > li .pay-tit:after{content:'';display:block;position: absolute;top:10px;width:213px;height:10px;}
.osm-box .payment-list > li .pay-tit:before{left:0;background:url(../images/n8/img_subtitle_line.png) 0 0 no-repeat;}
.osm-box .payment-list > li .pay-tit:after{right:0;background:url(../images/n8/img_subtitle_line_02.png) 0 0 no-repeat;}